.root.dark {
  --font-color: #FFFFFF;
  --font-alternative-color: #000000;
  --font-subtitle-color: #8F959E;
  
  --primary-background-color: #1B262C;
  --secondary-background-color: #29363D;
  --secondary-alternative-background-color: #F5F6FA;
  --therty-background-color: #F6F2FF;

  --primary-color: #9775FA;
  --primary-alternative-color: #C2ADFF;
  --acent-color: #FF981F;

  --warning-color: #F2C94C;
  --aproove-color: #34C559;
  --danger-color: #EA4335;
  --danger-color-alternative: #ff0000;
}
