.root.light {
  --font-color: #1D1E20;
  --font-alternative-color: #FEFEFE;
  --font-subtitle-color: #8F959E;
  
  --primary-background-color: #f7f1f1;
  --primary-background-alternative-color: #1D1E20;
  --secondary-background-color: #F5F6FA;
  --secondary-background-alternative-color: #2b2d30;
  --secondary-alternative-background-color: #DEDEDE;
  --therty-background-color: #F6F2FF;

  --primary-color: #9775FA;
  --primary-alternative-color: #C2ADFF;
  --acent-color: #FF981F;

  --warning-color: #F2C94C;
  --aproove-color: #34C559;
  --danger-color: #EA4335;
  --danger-color-alternative: #ff0000;
}
