@import url('./reset.scss');
@import "themes/dark-theme";
@import "themes/light-theme";

.root {
  background: var(--primary-background-color);
  color: var(--font-color);
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: 800;
}
